body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

#content {
    display: block;
    margin-left: 0 auto;
    width: 80%;
	
}

header {
	
}

footer {
	text-align: center;
	font-style: italic;
	font-size: 90%;
}
